.hero{
    display: flex;
    padding: 5rem;
    background: linear-gradient(270deg, rgba(245,245,245,1),rgba(230,230,230,1));
    /* color: white; */
    margin-bottom: 5rem;
    background-position: right;
    justify-content: space-between;
}
.textContainer {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
}
.imgContainer{
    display: flex;
    flex: 0.4;
    max-height: 20rem;
    overflow:hidden ;
}
.imgContainer img{
    width: 100%;
    object-fit: cover;
}

.textContainer h3 {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.textContainer h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}


@media screen and (max-width: 1300px) {
.hero {
        padding: 5rem;
    }
}

@media screen and (max-width: 1050px) {
.hero {
        padding: 3rem;
    }
}

@media screen and (max-width: 1024px) {
.hero {
        padding: 3rem;
    }

}

@media screen and (max-width: 700px) {
.hero {
        padding: 2rem;
    }
}

@media screen and (max-width: 550px) {
.hero {
        padding: 2rem;
    }
}