.navigation {
    display: flex;
    height: 100vh;
    flex: 0.08;
    flex-direction: column;
    padding: 3rem 0;
    border-radius: 0px;
    /* background: linear-gradient(90deg, rgba(37, 83, 255, 0.95), rgba(37, 83, 255, 0.95)); */
    background: #000;
    background: rgb(51, 51, 103) ;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

.navigation::-webkit-scrollbar {
    width: 10px;
}

.navigation::-webkit-scrollbar-track {
    background-color: var(--lbanPurple);
}

.navigation::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.navMobile {
    display: flex;
    height: 100vh;
    flex: 0.15;
    flex-direction: column;
    padding: 3rem 1rem;
    border-radius: 0px;
    background: #35434C;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 5rem;
    padding: .5rem;
}

.logo {
    object-fit: contain;
    max-height: 4rem;
}

.dp {
    width: 150px;
    height: 150px;
    background: white;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.dp img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.logo {
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.logo img {
    object-fit: contain;
    width: 60%;
    max-height: 5rem;
}

.links{
    display: flex;
    flex-direction: column;
}

.links ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.links ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.links ul li a{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.links ul li a svg{
    font-size: 2rem;
    color: white;
    margin-bottom: .5rem;
}
.links ul li span {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.links ul li span svg {
    font-size: 2rem;
    color: white;
    margin-bottom: .5rem;
}